.land {
    fill: #f7f7f7;
	stroke: #ccc;
}
                  
.county-boundary {
  fill: #f7f7f7;
  stroke: #ccc;
}
.state-boundary {
    fill: none:
    stroke: #fff;
}
circle {
    /*fill: #67a9cf;*/
    stroke: #000;
}

html, body {
    margin: 0;
    font: 14px/16px "Helvetica Neua", Helvetica, Arial, sans-serif;
    text-align: center;
}

#container {
    min-width: 960px;
}

#slider-container, #date {
	display: inline-block;
	verticle-align: middle;
	margin-top: 20px;
}

#legend {
	font-family: sans-serif;
	font-weight: bolder;	
}

#Cyclone {
	color: #F00;	
}

#Precipitation {
	color: #67a9cf;	
}

#Wind {
	color: #FF0;
}

#Other {
	color: #0C0;	
}

#play-button {
	verticle-align: middle;	
}

#timeLabel {
	font-family: sans-serif;
	font-size: 36px;
	font-weight: bolder;	
}

#slider-container {
	position: relative;
}
#slider-div {
}

#slider-probe {
	position: absolute;
	top: -20px;
	font-size: 12px;
	width: 70px;
	margin-left: -35px;
	display: none;	
}