.land {
    fill: #999;
}
                  
.county-boundary {
    fill: none;
    stroke: #fff;
    stroke-width: .5px;
}
.state-boundary {
    fill: none:
    stroke: #fff;
}
circle {
    fill: "red";
    stroke: #999;
}

html, body {
    margin: 0;
    font: 14px/16px "Helvetica Neua", Helvetica, Arial, sans-serif;
    text-align: center;
}

#container {
    min-width: 960px;
}
