//output:bilayer.html
doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title Phospholipid Bilayer
        meta(name="viewport" content="width=device-width,initial-scale=1")
        link(rel="stylesheet" href="complex_adapt.min.css")

    body
        h1 Phospholipid Membrane
        h3 A More Complicated Cell
        h3 Warning: This is a computationally heavy model.
        .maincontent
            p. 
                Conway's Game of Life is a very simplistic model. To keep the topic 
                on life, we will look at how cell membranes can be described as a 
                self-emergent pattern as well. The rules here are more complicated 
                as they move further way from simple mathematical rules and more 
                towards physical reality.
            h4 The Rules
            .rules
                ul
                    li The "head" of the phospholipid is hydrophilic, meaning it wants to be as close to water molecules as possible.
                    li The "tail" of the phospholipid is hydrophobic, meaning it wants to be as far away from water molecules as possible.
                    li The phospholipid is a single entity: It cannot be broken in half.
            p.
                In this example, the hydrophilic and hydrophobic nature of the
                phospholipids are simulated and we can see the result. In this
                case the water is separated into coherent membranes that are
                easily visible.
            h4 The following code is hard to run. Consider downloading NetLogo natively.
            .netlogoCode
                iframe(width="800", 
                    height="800", 
                    scrolling="yes", 
                    frameborder="no", 
                    src="NetlogoCode/MembraneFormation.html")
