//output:index.html
doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title Complex Adaptive Systems
        meta(name="viewport" content="width=device-width,initial-scale=1")
        link(rel="stylesheet" href="complex_adapt.min.css")
    body
        h1 Complex Adaptive Systems
        h3 An Interactive Exploration into Complex Systems
        .maincontent
            p.
                Complex Adaptive Systems is a relatively new field of study
                where systems are viewed as dynamic models that are leaderless,
                exhibit recurrent behavior, and have emergent patterns. Importantly,
                Complex Systems are nonlinear, meaning the components of a complex system
                are not static. These components adapt, hence Adaptive Systems, and
                can change their behavior and subsequently the entire outcome of the
                system.
            h4 Complex vs Complicated
            p.
                I must stress the difference between #[i complex] and #[i complicated].
                Just because a system may be complicated does not imply that the
                system is complicated. Complicated systems may be composed of
                dozens, hundreds, or thousands of individual static components.
                But the system itself never exhibits dynamic behavior.
            p.
                An example of a non-complex but complicated system is a car engine.
                A combustion engine is complicated, it relies on hundreds of 
                individual parts that must work together in order to provide power.
                However, each component is static. For example, the fuel injector is linear,
                it provides fuel at a specified rate, dictated by the operator.
            p.
                By that example alone, 2 requirements of a complex system are not met.
                The system must be non-linear and leaderless. A car engine is
                governed by you, the operator and provides a linear output: power.
                So we can see that a complicated system is not necessarily a complex
                system.
            h4 Examples of Complex Systems
            p.
                So what are some example of complex systems? Listed below are some
                example of complex systems coded in #[a(href="https://ccl.northwestern.edu/netlogo/" target="_newtab") NetLogo].
                These examples have been listed in order from simplest to more complicated models.
            .modellist
                ul
                    li #[a(href="conway.html") Game of Life]
                    li #[a(href="rabbits.html") Rabbits and Grass]
                    li #[a(href="flocking.html") Bird Flocking]
                    li #[a(href="traffic.html") Traffic Jams]
            p.
                The examples above were provided by the NetLogo Web Model's Library
                and some models have been modified from their original format.
